/* Social Buttons */
.social-buttons a i, .social-buttons a i:hover {
	font-size: 1.6em;
	text-decoration: none;
	margin-left: 10px;
	color: #BBC7CC;
}

.social-buttons a i:hover {
	color: #4a4a4a;
	transition: color ease 0.3s;
}

.social-buttons {
	text-align: right;
	margin-top: 10px;
}

@media only screen and (max-width : 500px) {
	.social-buttons {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.social-buttons a i, .social-buttons a i:hover {
		font-size: 2.6em;
	}
}